.link {
    display: inline-block;
    padding: 5px 10px 5px 0px;
}

.header {
    background-color: blanchedalmond;
}

.header .title {
    text-align: center;
}

.footer {
    background-color: aqua;
}

.footer .title {
    text-align: center;
}

.contents {
    min-height: 700px;
}
